<h3> Please embed the following code in your blog :</h3>
<pre>
  <code class="javascript">
  <%= embed_script(@current_user) %>
  </code>
</pre>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>