<% if @current_user %>
    <div id="downloads" >
      <p>Drag this to Bookmarks Bar →
        <a class="btn" href="javascript:(function(){window.$TAGGER={base_url: '<%= absolute_link %>', app_id: '<%= @current_user.app_id %>'};s=document.createElement('script');s.type='text/javascript';s.src='<%= absolute_link(asset_path('external/inject.js')) %>?v='+parseInt(Math.random()*99999999);document.body.appendChild(s);})();">LookTagMe</a></p>
    </div>
<% end  %>
