@import "../default/pinterest";
$col-width: 46%;
body.home {
  .listProducts{
    @include listProducts($col-width);
  }

  #cachedImages{
    display: none;
  }

  #downloads {
    padding: 0 25px; ;
  }
}