{{#each results}}
    {{#if editMode}}
        <div class="item searchProduct selected"  data-product-id="{{@index}}">
    {{else}}
        <div class="item searchProduct" data-product-id="{{@index}}">
    {{/if}}
        <div class="picture">
            <a href="#" class="image">
                <img src="{{image_url}}" alt=""> <br>
            </a>
            <div class="item-content">
                    <div class="price">
                        {{price}} {{currency}}
                    </div>
                    <a href="{{seller_url}}" target="_blank" class="shopname">{{seller_name}}</a>
            </div>
        </div>
    </div>

{{/each}}
{{#unless results}}
    <p class="no-results"> Sorry! Cannot find anything! </p>
{{else}}
    <span class="next-page" data-next-page="{{next_page}}" data-total="{{total}}"></span>
{{/unless}}
