<div class="searchProducts">
{{#each results}}
	<div class="item searchProduct">
		<div class="picture">
			<a href="#" class="image">
				<img src="{{image_url}}" alt=""> <br>
			</a>
			<div class="item-content">
                    <button type="button" class="btn btn-info btn-sm pull-right saveProduct" data-product-id="{{@index}}">Tag it!</button>
                    <div class="price">
                        {{price}} {{currency}}
                    </div>
                    <div class="shopname">{{seller_name}}</div>
			</div>
		</div>
	</div>
{{/each}}
</div>