{{#each results}}
    {{#if editMode}}
        <div class="item searchProduct selected">
    {{else}}
        <div class="item searchProduct">
    {{/if}}
        <div class="picture">
            <a href="#" class="image" data-product-id="{{sum @index ../offset}}">
                <img src="{{image_url}}" alt="">
            </a>
            <div class="item-content">
                    <div class="price">
                        {{price}} {{currency}}
                    </div>
                    <a href="{{seller_url}}" target="_blank" class="shopname">{{seller_name}}</a>
            </div>
        </div>
    </div>

{{/each}}

{{#unless results}}
    {{#ifCond next_page '<' 2}}
        <p class="no-results"> Sorry! Cannot find anything! </p>
    {{/ifCond}}
{{else}}
    <span class="next-page" data-next-page="{{next_page}}" data-total="{{total}}"></span>
{{/unless}}

