<div class="searchProducts">
{{#each results}}
    {{#if editMode}}
        <div class="item searchProduct selected">
    {{else}}
        <div class="item searchProduct">
    {{/if}}
        <div class="picture">
            <a href="{{seller_url}}" target="_blank" class="image">
                <img src="{{image_url}}" alt=""> <br>
            </a>
            <div class="item-content">
                    {{#unless editMode}}
                        <button type="button" class="btn btn-info btn-sm pull-right saveProduct" data-product-id="{{@index}}">Tag it!</button>
                    {{/unless}}
                    <div class="price">
                        {{price}} {{currency}}
                    </div>
                    <a href="{{seller_url}}" target="_blank" class="shopname">{{seller_name}}</a>
            </div>
        </div>
    </div>

{{/each}}
</div>
{{#unless results}}
    <p class="no-results"> Sorry! Cannot find anything! </p>
{{else}}
    <span class="next-page" data-next-page="{{next_page}}" data-total="{{total}}"></span>
{{/unless}}
