<a href="#" class="add_button">
<span class="plus">+</span> Add a new Tag
</a>
<div class="listProducts" data-image-id="{{image_id}}">
{{#each results}}
  <div class="item product">
    <a href="#" data-tag-id="{{id}}" class="close deleteProduct">X</button>
        <div class="picture">
          <a href="#" class="image">
            <img src="{{image_url}}" alt=""> <br>
          </a>
          <div class="item-content">
            <div class="buy_cont pull-right">
              <a class="buy" href="#">Buy Now</a>
            </div>
            <div class="price">{{currency}} {{price}}</div>
            <div class="shopname">{{seller_name}}</div>
          </div>
        </div>
    </a>
  </div>
{{/each}}
</div>




