<div class="listProducts" data-image-id="{{image_id}}">
{{#each results}}
  <div class="item product">
    <a href="#" data-tag-id="{{_id.$oid}}" class="close deleteProduct">X</button>
    <div class="picture">
      <a href="#" class="image">
        <img src="{{image_url}}" alt=""> <br>
      </a>
      <div class="item-content">
        <div class="buy_cont pull-right">
          <a class="buy" href="#">Buy Now</a>
        </div>
        <div class="price">{{currency}} {{price}}</div>
        <div class="shopname">{{seller_name}}</div>
      </div>
    </div>
  </div>
{{/each}}

 <div class="item product add_button">
   <div class="plus">+</div>
   <div class="AddTag">Add a new Tag</div>
   </p>
 </div>
</div>



